body {
    background-image: url("../images/batman_bg.jpg");
    background-size: 100%;
    font-family: 'Architects Daughter', cursive;
    background-repeat: inherit;
}

h1 {
    font-family: 'Bangers', cursive;
    font-size: 90px;
    font-weight: bolder;

}

#questions {
    background-color: #aeada8;
    height: auto;
    opacity: 20%;
    margin-top: 3rem;
    border: solid 1px;
    text-align: center;
}

.answer {
    background-color: #232320;
    color: #ffffff;
}

li:hover {
    cursor: pointer;
}